[submodule "GlycReSoft2/GlycReSoftTandemGlycopeptidePipeline"]
  path = GlycReSoft2/GlycReSoftTandemGlycopeptidePipeline
  url = https://github.com/GlycReSoft2/GlycReSoftTandemGlycopeptidePipeline.git